* {
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.53;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  background: #000;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-transform: capitalize;
  font-weight: 700;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 100%;
}

button {
  cursor: pointer;
  box-shadow: none;
  border: none;
}

input,
textarea {
  outline: none;
  border: 1px solid #333;
  resize: none;
  padding: 10px;
  width: 100%;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}
